<div class="main-warpper">
<div class="main">
  <div class="copy-container">
  <h3></h3>
  <div class="show-index">  
  <img src="<%="/user_images/#{@user.user_image}"%>" class="show-icon">
    <br><%=@user.name%><br>
    </div>
    <div class="show-right">
    <%=link_to("編集","/users/#{@user.id}/edit")%>
    <%=link_to("削除","/users/#{@user.id}/destroy")%>
    </div>
</div>
</div>
</div>